body {
  background-color: gray;
  display: flex;
  margin: 0;
  height: 85vh;
  justify-content: center;
  align-items: center;
}

a {
  color: gainsboro;
  background-color: rgb(68, 68, 68);
  padding: 15px;
  border-radius: 15px;
  border: solid 2px black;
}

a:hover {
  background-color: rgb(95, 95, 95);
}
